<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289077785989-ib6hn4mqhj9aovvveatmvhte4jbeatnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289077785989-ib6hn4mqhj9aovvveatmvhte4jbeatnn</string>
	<key>API_KEY</key>
	<string>AIzaSyDDsxRItDLVTjCfVka7MzwHoqRzy8T6iXM</string>
	<key>GCM_SENDER_ID</key>
	<string>289077785989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>py.com.snowtech.friendlychat</string>
	<key>PROJECT_ID</key>
	<string>ng-exercise-b8275</string>
	<key>STORAGE_BUCKET</key>
	<string>ng-exercise-b8275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289077785989:ios:2d4779105dcafd21d300ec</string>
	<key>DATABASE_URL</key>
	<string>https://ng-exercise-b8275.firebaseio.com</string>
</dict>
</plist>